# Dependencies

**/node_modules/
frontend/dist/

# Environment

backend/.env
frontend/.env
.env
.env.local
.env.production

# Backup

backend/backups/*.json
backend/backups/*.zip

# Logs

*.log
logs/

# Database temp

*.sqlite
*.db

# OS

.DS_Store
Thumbs.db

*.psd